name: CRM Deployment

on:
  push:
    branches:
      - master # Only trigger when pushing to the 'master' branch
  workflow_dispatch:
    inputs:
      deploy_type:
        description: "Choose deploy type"
        required: true
        default: "normal"
        type: choice
        options:
          - docker
          - normal

permissions:
  contents: write # Allows the workflow to push changes
  actions: read # Allows reading action logs
  pull-requests: write # Enables PR creation and updates

jobs:
  laravel-deployment:
    runs-on: ubuntu-latest
    timeout-minutes: 1200
    if: ${{ vars.DEPLOY_TYPE  == 'laravel' }} && github.actor == "NoumanAhmad448"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch the entire repository history
      #  The SamKirkland/FTP-Deploy-Action shit does not work for large level of files so rely on rsync
      # - name: Sync files to server via FTP
      #   uses: SamKirkland/FTP-Deploy-Action@8e83cea8672e3fbcbb9fdafff34debf6ae4c5f65
      #   with:
      #     server: ${{ secrets.FTP_SERVER }}
      #     username: ${{ secrets.FTP_USERNAME }}
      #     password: ${{ secrets.FTP_PASS }}
      #     server-dir: /
      #     log-level: verbose
      #     timeout: 60000000
      #     port: 21
      #     # passive: true  # Use passive mode to avoid unexpected disconnects
      #     protocol: ftps
      #     exclude: |
      #       **/.git*
      #       **/.git*/**
      #       **/node_modules/**
      #       **/vendor/**

      # - name: Deploy to Staging server
      #   uses: easingthemes/ssh-deploy@a1aa0b6cf96ce2406eef90faa35007a4a7bf0ac0
      #   with:
      #     SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      #     ARGS: "-rlgoDzvc -i"
      #     SOURCE: "/"
      #     REMOTE_HOST: ${{ secrets.SERVER_IP }}
      #     REMOTE_USER: ${{ secrets.SSH_USERNAME }}
      #     TARGET: /
      #     EXCLUDE: "/dist/, /node_modules/ , /.git, /vendor/"
      #   SCRIPT_BEFORE: |
      #     whoami
      #   SCRIPT_AFTER_REQUIRED: true
      #   SCRIPT_AFTER: |
      #     cd ${{secrets.SERVER_PATH}} &&
      #     sudo chmod -R 775 ${{secrets.SERVER_PATH}}/server_deploy.sh &&
      #     sudo chown -R root:root ${{secrets.SERVER_PATH}}/server_deploy.sh &&
      #     ./server_deploy.sh
      # Step 5: Set up SSH
      - name: Set up SSH
        uses: webfactory/ssh-agent@836c84ec59a0e7bc0eabc79988384eb567561ee2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Verify SSH key loaded
        run: |
          ssh-add -l

      - name: Add remote server to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      #- name: Test SSH connection (verbose)
       # run: |
        #  ssh -vvv ${{ secrets.SSH_USERNAME }}@${{ secrets.SERVER_IP }} "echo SSH connection successful"


      # # Step 7: Deploy using rsync
      # - name: Deploy using rsync
      #   run: |
      #     rsync -avz --delete --exclude='.env' \
      #       --exclude='.env.testing' \
      #       -e "ssh -o StrictHostKeyChecking=no" \
      #       ./ "${{ secrets.SSH_USERNAME }}@${{ secrets.SERVER_IP }}:${{secrets.SERVER_PATH}}/"

      - name: Debug SSH + rsync
        run: |
          echo "=== SSH agent keys ==="
          ssh-add -l || echo "NO KEYS LOADED"

          echo "=== SSH verbose test ==="
          ssh -vvv -o BatchMode=yes root@104.207.95.102 "whoami"

          echo "=== rsync verbose ==="
          rsync -avz --progress \
            -e "ssh -vvv -o BatchMode=yes" \
            ./ \
            ${{ secrets.SSH_USERNAME }}@${{ secrets.SERVER_IP }}:${{secrets.SERVER_PATH}}

      - name: Run server-side deployment script
        uses: appleboy/ssh-action@9817ef4a1793d4009d854d26cfb0ba4b615d5791
        with:
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SERVER_IP }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd ${{secrets.SERVER_PATH}} &&
            sudo chmod -R 775 ${{secrets.SERVER_PATH}}/server_deploy.sh &&
            sudo chown -R root:root ${{secrets.SERVER_PATH}}/server_deploy.sh &&
            ./server_deploy.sh
